.base-map {
  position: relative;
  width: 100%;

  .map-obj {
    background-color: #f8f8f8;
  }

  .map-search {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    width: 300px;
  }
}
