.base-img .ant-image-mask-info {
  width: 14px;
  padding: unset;
  overflow: hidden;
}

.base-img + .base-img {
  margin-right: 4px;
  margin-bottom: 4px;
}

.base-img:nth-child(2) {
  margin-left: 4px;
}
