@import '~antd/es/style/themes/default.less';

.base-text {
  display: inline-block;
  max-width: 100%;

  &.primary {
    color: @primary-color !important;
  }

  &.red {
    color: @error-color !important;
  }

  &.green {
    color: @success-color !important;
  }

  &.blue {
    color: @link-color !important;
  }

  &.yellow {
    color: @warning-color !important;
  }

  &.gray {
    color: @text-color-secondary !important;
  }
}
