.base-popconfirm {
  .ant-popover-inner-content {
    padding: 20px 40px;

    .ant-popover-message {
      padding-bottom: 20px;
      font-size: 16px;
    }

    .ant-popover-message > .anticon {
      font-size: 18px;
    }

    .ant-btn-sm {
      height: 32px;
      padding: 0 14px;
      margin-left: 16px;
    }
  }
}

.base-popconfirm-children {
  display: inline-block;
}
