.base-tags {
  display: inline-block;

  .ant-tag {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;

    .anticon {
      font-size: 12px;
    }
  }

  .base-tags-input {
    width: 80px;
  }
}
