.base-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 8px 0 24px;
  font-size: 16px;
  font-weight: bold;

  .title {
    padding: 0 24px;
  }

  .vline {
    height: 1px;
    background-color: #eee;

    &.before {
      width: 24px;
    }

    &.after {
      flex: 1;
    }
  }
}
